:root {
  font-family: "Inter", "LatoWeb", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(136.56deg, #8a53b6 0%, #cea2d0 97.42%) no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
}

.card {
  display: flex;
  background: white;
  min-height: 680px;
  max-width: 990px;
  width: 100%;
  border-radius: 24px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  /* z-index: -2; */
}

.card__header,
.card__body {
  width: 50%;
  padding: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__header {
  background: #f3f4f6;
}

.card .short-logo {
  margin-bottom: 32px;
}

/* .card__info {
  padding: 0 25px;
}

.card__info p {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
} */

/* JAR */

/* .jar {
  position: relative;
  text-align: center;
}

.jar__bg {
  width: 215px;
  height: 215px;
  margin-bottom: 20px;
}

.jar__glass {
  height: 203px;
  width: 155px;
  left: 35px;
  top: 10px;
  position: absolute;
} */

/* .jar__owner {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}

.jar__name {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 12px;
} */

/* grid */
/* .grid-container {
  position: absolute;
  top: 34px;
  left: 50px;
} */

/* .grid {
  width: 42px;
  height: 168px;
} */

/* .jar-label {
  font-weight: 800;
  font-size: 10px;
  color: #8e5b5b;
  position: absolute;
  white-space: nowrap;
} */

/* .jar-goal {
  bottom: 156px;
  left: 16px;
} */

/* .jar-middle {
  bottom: 83px;
  left: 5px;
} */

/* .jar-bottom {
  bottom: 8px;
  left: 7px;
} */
/* STATS */

/* .stats {
  margin-top: 16px;
  display: flex;
  background: #fff;
  border-radius: 16px;
} */

/* .stats-data {
  display: flex;
  gap: 12px;
  padding: 0 20px;
  margin: 12px 0;
}

.stats-data:not(:last-child) {
  border-right: solid #ccc 0.5px;
} */

/* .stats-data__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #808080;
} */

/* .stats-data__value {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000;
} */

/* card */

.card__wrap {
  background: linear-gradient(92.12deg, #57b5f9 0%, #da11ba 100%);
  height: 230px;
  width: 100%;
  border-radius: 24px;
  margin-bottom: 32px;
}

.card__wrap-border {
  padding: 24px;
  margin: 0.7% auto 0;
  background-color: #fff;
  height: 97.5%;
  width: 98.5%;
  border-radius: 22px;
}

.card__title {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.card__img {
  width: 16px;
  margin-left: 0.5em;
  margin-bottom: -3px;
}

.card__value {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  padding: 20px 0;
  position: relative;

  color: grey;
}

.card__value-sum:focus-visible {
  outline: none;
}

.card__value-warning {
  display: none;
  position: absolute;
  left: 57%;
  margin: -24px auto 0;
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: #808080;
}

.active-warning {
  display: block;
}

.active {
  color: black;
}

.active-color {
  opacity: 0.5;
  color: #b30953;
}

.card__btn {
  display: flex;
  gap: 16px;
}

.btn__value {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 0 3px;
  min-height: 40px;
  width: 100%;
  background: #fff;
  cursor: pointer;
}

.btn__value:hover {
  background: #e6e6e6;
}

/* input */
.card__input-value {
  font-size: 16px;
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 0 16px;
  height: 56px;
}

.card__input-value::placeholder {
  color: gray;
  font-size: 16px;
  text-align: left;
  transition: font-size 0.3s ease, transform 0.3s ease;
  transform: translateY(0);
}

.card__input-value:hover::placeholder {
  font-size: 12px;
  text-align: left;
  transform: translateY(-140%);
}

.card__input-value:focus-visible {
  outline: 2px solid black;
}

/* button */
.btn__pay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  margin: 0 auto;
  width: 340px;
  border-radius: 8px;
  background: #000;
  overflow: hidden;
  margin-bottom: 16px;
  cursor: pointer;
}

.btn__pay:hover {
  background: #3c4034;
}

/* pay cadr */
.other__pay {
  width: 340px;
  margin-top: 10px;
  border-top: 0.5px solid #ccc;
}

.other__pay-button {
  display: flex;
  justify-content: center;
  padding: 16px 0;

  cursor: pointer;
}

.other__pay-icon {
  width: 16px;
  height: 26px;
  margin-right: 8px;
}

.other__pay-text {
  color: red;
}

/* footer */
.footer {
  display: flex;
  width: 990px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: #fff;
}

.footer__copyright {
  width: 300px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.8;
}

.button__wrap {
  display: flex;
  gap: 16px;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.08);
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  padding: 0 16px;
  height: 40px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}

.buttons:hover {
  background: rgba(255, 255, 255, 0.2);
}

.footer__icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
